doctype html
html
  head
    title Al-Zahid Fitness Club
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.jpg")
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Academic Info] 
            li #[a(href="/contact") Contact Us] 
            
    block content
    footer#footer 
        | Copyright 2023  ©  ZahidFitnessClub.com | All rights reserved
